// @use "./../map" as map;
@use "./../map" as map;
@use "~common/mixins" as m;

.#{map.$parent} {
    &__list-popup {
        @include m.media(
            (
                max: 1023,
            ),
            (
                z-index: -1,
                transform: translateY(110px),
                box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06),
            )
        );

        p {
            @include m.media(
                (
                    max: 1023,
                ),
                (
                    width: 100%,
                    font-size: 14px,
                    line-height: 114.286%,
                )
            );
        }
    }
}
