@use "~rfs/scss" as rfs;
@forward "~common/placeholders";

$parent: "descript";

.#{$parent} {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    @extend %background--origin-white;
    @include rfs.padding(100px 110px);
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.08);

    strong {
        @extend %color--primary-red;
    }

    &__content {
        margin: 0;
        line-height: 120%;
    }
}
